<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Select Start and End Location</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
     
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar placeholder="Search city/road" (ionInput)="onSearch($event)"></ion-searchbar>
  <div id="map1" style="height: 100%;width:100%"></div>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size="4">
      <ion-button expand="block" color="success" (click)="setStartMode()">Start</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="block" color="primary" (click)="setOpen(true)">Confirm</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="block" color="danger" (click)="setEndMode()">End</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
<ion-modal [isOpen]="isModalOpen" [initialBreakpoint]="0.7">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Location</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false)"><ion-icon name="close-outline"></ion-icon></ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <section class="inputbox">
        <ion-text color="primary">Start Point Lat/Long</ion-text>
        <ion-row>
          <ion-col size="6">
            <ion-text>Lng</ion-text>
            <ion-item lines="none" class="dsble" color="none">
              <ion-label>{{startLatLng.lat}}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-text>Lng</ion-text>
            <ion-item lines="none" class="dsble" color="none">
              <ion-label>{{startLatLng.lng}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text>Address</ion-text>
            <ion-item lines="none" class="dsble" color="none">
              <ion-label>Faridabad</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </section>
      <section class="inputbox">
        <ion-text color="primary">End Point Lat/Long</ion-text>
        <ion-row>
          <ion-col size="6">
            <ion-text position="stacked">Latitude</ion-text>
            <ion-item lines="none" color="none" class="dsble">
              <ion-label>{{endLatLng.lat}}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-text position="stacked">Longitude</ion-text>
            <ion-item lines="none" color="none" class="dsble">
              <ion-label>{{endLatLng.lng}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text>Address</ion-text>
            <ion-item lines="none" class="dsble" color="none">
              <ion-label>Mobilise App Lab</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </section>
      <section>
        <ion-text color="primary">Travel Time</ion-text>
        <ion-item lines="none" color="none">
          <ion-label>3hr</ion-label>
          <ion-icon name="timer-outline" slot="end"></ion-icon>
        </ion-item>
      </section>
      <ion-button expand="block" style="padding-left: 10px; padding-right: 10px;" (click)="confirmLocation()">Save Location</ion-button>
    </ion-content>
  </ng-template>
</ion-modal>