// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {

	--ion-safe-area-top: env(safe-area-inset-top);
  	--ion-safe-area-bottom: env(safe-area-inset-bottom);

    --ion-color-primary: #273897;
	--ion-color-primary-rgb: 39,56,151;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #223185;
	--ion-color-primary-tint: #3d4ca1;

	--ion-color-warning: #3096b4;
	--ion-color-warning-rgb: 48,150,180;
	--ion-color-warning-contrast: #ffffff;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #2a849e;
	--ion-color-warning-tint: #45a1bc;

}