<ion-header>
  <ion-toolbar>
    <ion-title>Select {{ currentPointType === 'start' ? 'Start' : 'End' }} Location</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div #mapContainer style="width: 100%; height: 70vh;"></div>
  <ion-card>
    <ion-card-content>
      <ion-text>
        <p><strong>Selected Location:</strong></p>
        <p>Latitude: {{ selectedLat || 'Click on map' }}</p>
        <p>Longitude: {{ selectedLng || 'Click on map' }}</p>
        <p>Address : {{selectedAddress || 'Click on map'}}</p>
      </ion-text>
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" (click)="confirmLocation()" [disabled]="!selectedLat || !selectedLng">
    Confirm Location
  </ion-button>
</ion-content>