<ion-header>
  <ion-toolbar color="primary">
    <ion-title (click)="openRoute()">Add Road</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="openRoute()">Update</ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="addForm" (ngSubmit)="submitForm()">
    <ion-card style="margin:0px;border-radius: 0px;">
      <ion-card-header style="font-size:18px;border-bottom:1px solid rgb(228, 221, 221);color:var(--ion-color-primary)">
        LOCATION INFO </ion-card-header>
      <ion-card-content>
        <br>
        <ion-row>
          <ion-col size="6">
            <section class="inputbox">
              <ion-text color="primary">District <ion-text color="danger">*</ion-text> </ion-text>
              <ion-item lines="none">
                <ion-select placeholder="Select District" interface="action-sheet" formControlName="dist_id"
                  mode="ios">
                  <ion-select-option *ngFor="let dat of districtArr" [value]="dat.value">{{dat.label}}</ion-select-option>                  
                </ion-select>
              </ion-item>
            </section>
          </ion-col>
          <ion-col size="6">
            <section class="inputbox">
              <ion-text color="primary">Division <ion-text color="danger">*</ion-text> </ion-text>
              <ion-item lines="none">
                <ion-select placeholder="Select Division" interface="action-sheet" formControlName="devsn_id" mode="ios" (ionChange)="changeDivision($event)">
                  <ion-select-option *ngFor="let dat of divisionArr" [value]="dat.value">{{dat.label}}</ion-select-option>                  
                </ion-select>
              </ion-item>
            </section>
          </ion-col>
          <ion-col size="6">
            <section class="inputbox">
              <ion-text color="primary">Sub Division <ion-text color="danger">*</ion-text> </ion-text>
              <ion-item lines="none">                
                <ion-input type="text" formControlName="sub_devsn_id" placeholder="Sub Division"></ion-input>
              </ion-item>
            </section>
          </ion-col>
          <ion-col size="6">
            <section class="inputbox">
              <ion-text color="primary">Ward <ion-text color="danger">*</ion-text> </ion-text>
              <ion-item lines="none">
                <ion-select placeholder="Select Ward" interface="action-sheet" formControlName="ward_id" mode="ios">
                  <ion-select-option *ngFor="let dat of wardArr" [value]="dat.value">{{dat.label}}</ion-select-option>                  
                </ion-select>
              </ion-item>
            </section>
          </ion-col>          
          <ion-col size="6">
            <section class="inputbox">
              <ion-text color="primary">Area <ion-text color="danger">*</ion-text> </ion-text>
              <ion-item lines="none">
                <ion-input type="text" formControlName="area" placeholder="Enter Area"></ion-input>
              </ion-item>
            </section>
          </ion-col>
          <ion-col size="6">
            <section class="inputbox">
              <ion-text color="primary">Sub Area</ion-text>
              <ion-item lines="none">
                <ion-input type="text" formControlName="sub_area" placeholder="Enter Sub Area"></ion-input>
              </ion-item>
            </section>
          </ion-col>
          <ion-col size="6">
            <section class="inputbox">
              <ion-text color="primary">Circle Road</ion-text>
              <ion-item lines="none">
                <ion-input type="text" formControlName="circle_road" placeholder="Circle Road"></ion-input>
              </ion-item>
            </section>
          </ion-col>
          <ion-col size="6">
            <section class="inputbox">
              <ion-text color="primary">Lok Sabha</ion-text>
              <ion-item lines="none">
                <ion-input type="text" formControlName="lok_sabha" placeholder="Lok Sabha"></ion-input>
              </ion-item>
            </section>
          </ion-col>
          <ion-col size="6">
            <section class="inputbox">
              <ion-text color="primary">Vidhan Sabha</ion-text>
              <ion-item lines="none">
                <ion-input type="text" formControlName="vidhan_sabha" placeholder="Vidhan Sabha"></ion-input>
              </ion-item>
            </section>
          </ion-col>
          <ion-col size="6">
            <section class="inputbox">
              <ion-text color="primary">Department</ion-text>
              <ion-item lines="none">
                <ion-select placeholder="Select Department" interface="action-sheet" formControlName="dept_id" mode="ios">
                  <ion-select-option *ngFor="let dat of departArr" [value]="dat.dept_id" >{{dat.dept_desc}}</ion-select-option>                  
                </ion-select>
              </ion-item>
            </section>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <br>
    <ion-card style="margin:0px;border-radius: 0px;">
      <ion-card-header style="font-size:18px;border-bottom:1px solid rgb(228, 221, 221);color:var(--ion-color-primary)">
        IDENTIFICATION & DIMENSION </ion-card-header>
      <ion-card-content>
        <br>
        <ion-row>
          <ion-col size="6">
            <section class="inputbox">
              <ion-text color="primary">RDW</ion-text>
              <ion-item lines="none">
                <ion-input type="text" formControlName="rdw" placeholder="Enter RDW"></ion-input>
              </ion-item>
            </section>
          </ion-col>
          <ion-col size="6">
            <section class="inputbox">
              <ion-text color="primary">Carriageway Width</ion-text>
              <ion-item lines="none">
                <ion-input type="text" formControlName="carriageway_width" placeholder="Carriage Width"></ion-input>
              </ion-item>
            </section>
          </ion-col>
          <ion-col size="6">
            <section class="inputbox">
              <ion-text color="primary">Width Category</ion-text>
              <ion-item lines="none">
                <ion-select placeholder="Select Width Category" interface="action-sheet" formControlName="with_category" mode="ios">
                  <ion-select-option *ngFor="let dat of widthCatArr" [value]="dat.value">{{dat.label}}</ion-select-option>                  
                </ion-select>
              </ion-item>
            </section>
          </ion-col>
          <ion-col size="6">
            <section class="inputbox">
              <ion-text color="primary">Width</ion-text>
              <ion-item lines="none">
                <ion-input type="text" formControlName="width" placeholder="Enter Width"></ion-input>
              </ion-item>
            </section>
          </ion-col>
          <ion-col size="12">
            <section class="inputbox">
              <ion-text color="primary">Existing Road Crust</ion-text>
              <ion-item lines="none">
                <ion-input type="text" formControlName="exist_road_crust" placeholder="Existing Road Crust"></ion-input>
              </ion-item>
            </section>
          </ion-col>
          <ion-col size="6">
            <section class="inputbox">
              <ion-text color="primary">Source</ion-text>
              <ion-item lines="none">
                <ion-select placeholder="Select Source" interface="action-sheet" formControlName="source"  mode="ios">
                  <ion-select-option *ngFor="let dat of sourceArr" [value]="dat.value">{{dat.label}}</ion-select-option>                  
                </ion-select>
              </ion-item>
            </section>
          </ion-col>
          <ion-col size="6">
            <section class="inputbox">
              <ion-text color="primary">Road Name</ion-text>
              <ion-item lines="none">
                <ion-input type="text" formControlName="road_name" placeholder="Enter Road Name"></ion-input>
              </ion-item>
            </section>
          </ion-col>
          <ion-col size="6">
            <section class="inputbox">
              <ion-text color="primary">Road ID <ion-text color="danger">*</ion-text> </ion-text>
              <ion-item lines="none">
                <ion-input type="text" formControlName="road_id" placeholder="Enter Road ID"></ion-input>
              </ion-item>
            </section>
          </ion-col>
          <ion-col size="6">
            <section class="inputbox">
              <ion-text color="primary">UR ID</ion-text>
              <ion-item lines="none">
                <ion-input type="text" formControlName="road_id" placeholder="Enter UR ID"></ion-input>
              </ion-item>
            </section>
          </ion-col>
          <ion-col size="6">
            <section class="inputbox">
              <ion-text color="primary">Road Category</ion-text>
              <ion-item lines="none">
                <ion-select placeholder="Select Category" interface="action-sheet" formControlName="road_category"
                  mode="ios">
                  <ion-select-option *ngFor="let dat of roadCatArr" [value]="dat.mnfctrer_id">{{dat.mnfctrer_desc}}</ion-select-option>                  
                </ion-select>
              </ion-item>
            </section>
          </ion-col>
          <ion-col size="6">
            <section class="inputbox">
              <ion-text color="primary">Technology Area</ion-text>
              <ion-item lines="none">
                <ion-input type="text" formControlName="technology_area" placeholder="Technology Area"></ion-input>
              </ion-item>
            </section>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <br>

    <ion-card style="margin:0px;border-radius: 0px;">
      <ion-card-header style="font-size:18px;border-bottom:1px solid rgb(228, 221, 221);color:var(--ion-color-primary)">
        PHYSICAL LOCATION & GEOMETRY </ion-card-header>
      <ion-card-content>
        <br>
        <ion-row>
          <ion-col size="6">
            <section class="inputbox">
              <ion-text color="primary">Start Point <ion-text color="danger">*</ion-text> </ion-text>
              <ion-item lines="none" (click)="openModal('start')">
                <ion-input type="text" formControlName="start_pnt_current_location" placeholder="Start Point" readonly></ion-input>
                <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
              </ion-item>
            </section>
          </ion-col>
          <ion-col size="6">
            <section class="inputbox">
              <ion-text color="primary">End Point <ion-text color="danger">*</ion-text> </ion-text>
              <ion-item lines="none" (click)="openModal('end')">
                <ion-input type="text" formControlName="end_pnt_current_location" placeholder="End Point" readonly></ion-input>
                <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
              </ion-item>
            </section>
          </ion-col>
          <ion-col size="6">
            <section class="inputbox">
              <ion-text color="primary">GIS Length</ion-text>
              <ion-item lines="none">
                <ion-input type="text" formControlName="road_id" placeholder="Enter GIS Length"></ion-input>
              </ion-item>
            </section>
          </ion-col>
          <ion-col size="6">
            <section class="inputbox">
              <ion-text color="primary">Length</ion-text>
              <ion-item lines="none">
                <ion-input type="text" formControlName="road_id" placeholder="Enter Length"></ion-input>
              </ion-item>
            </section>
          </ion-col>          
        </ion-row>
      </ion-card-content>
    </ion-card>
    <br>

    <ion-card style="margin:0px;border-radius: 0px;">
      <ion-card-header style="font-size:18px;border-bottom:1px solid rgb(228, 221, 221);color:var(--ion-color-primary)">
        MAINTENANCE & VERIFICATION </ion-card-header>
      <ion-card-content>
        <br>
        <ion-row>
          <ion-col size="6">
            <section class="inputbox">
              <ion-text color="primary">Last Treatment Type</ion-text>
              <ion-item lines="none">                
                <ion-select placeholder="Treatment Type" interface="action-sheet" formControlName="last_treatment_type" mode="ios">
                  <ion-select-option *ngFor="let dat of lastTreatArr" [value]="dat.id">{{dat.warranty}}</ion-select-option>                  
                </ion-select>
              </ion-item>
            </section>
          </ion-col>
          <ion-col size="6">
            <section class="inputbox">
              <ion-text color="primary">Last Treatment Date</ion-text>
              <ion-item id="last-trt-dte" lines="none">
                <ion-input type="text" [value]="addForm.value.last_treatment_date | date" placeholder="Last Treatment Date" readonly></ion-input>
              </ion-item>
              <ion-popover trigger="last-trt-dte" mode="md">
                <ng-template>
                  <ion-datetime #popoverDatetime max="2099" presentation="date" size="cover" formControlName="last_treatment_date" [showDefaultButtons]="true"></ion-datetime>
                </ng-template>
              </ion-popover>
            </section>
          </ion-col>

          <ion-col size="6">
            <section class="inputbox">
              <ion-text color="primary">DLF Expiry</ion-text>
              <ion-item id="dlf-expry" lines="none">
                <ion-input type="text" [value]="addForm.value.dlp_expiry | date" placeholder="DLF Expiry" readonly></ion-input>
              </ion-item>
              <ion-popover trigger="dlf-expry" mode="md">
                <ng-template>
                  <ion-datetime #popoverDatetime max="2099" presentation="date" size="cover" formControlName="dlp_expiry" [showDefaultButtons]="true"></ion-datetime>
                </ng-template>
              </ion-popover>
            </section>
          </ion-col>
          <ion-col size="6">
            <section class="inputbox">
              <ion-text color="primary">Next Treatment Date</ion-text>
              <ion-item id="nxt-trt-dte" lines="none">
                <ion-input type="text" [value]="addForm.value.next_treatment_date | date" placeholder="Next Treatment Date" readonly></ion-input>
              </ion-item>
              <ion-popover trigger="nxt-trt-dte" mode="md">
                <ng-template>
                  <ion-datetime #popoverDatetime max="2099" presentation="date" size="cover" formControlName="next_treatment_date" [showDefaultButtons]="true"></ion-datetime>
                </ng-template>
              </ion-popover>
            </section>
          </ion-col>
          <ion-col size="12">
            <section class="inputbox">
              <ion-text color="primary">Verificatoin Status</ion-text>
              <ion-item lines="none">
                <ion-input type="text" formControlName="verification_status" placeholder="Verification Status"></ion-input>
              </ion-item>
            </section>
          </ion-col>
          <ion-col size="12">
            <section class="inputbox">
              <ion-text color="primary">Remark</ion-text>
              <ion-item lines="none">
                <ion-input type="text" formControlName="remark" placeholder="Enter Remark"></ion-input>
              </ion-item>
            </section>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </form>  
</ion-content>
<ion-footer>
  <ion-toolbar style="padding-left:10px;padding-right: 10px;">
    <ion-button mode="md" expand="block" class="ion-text-capitalize" (click)="submit()">Submit <ion-icon name="arrow-forward-outline" slot="end"></ion-icon> </ion-button>
  </ion-toolbar>
</ion-footer>