/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";


section.inputbox {
    ion-text {
      font-size: 14px;
      font-weight: 550;    
    }
    ion-item {
      margin: 5px 0px;
      border:1px solid #4e4d4d;
      border-radius: 4px;
      font-weight: bold;
      font-size:90%;
      background-color: white;
      ion-icon {
        margin-right:10px;
      }
      ion-select {
        width:100%
      }
    }
  }
  :root {
    --ion-color-primary: #2a295c;
  }
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dsble{
    background-color: rgb(234, 232, 232) !important;
  }
  
  
  // E0E0E0   gray